:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #12229b;
  --secondary-color: #ffcb05;
  --tertiary-color: #cc1421;
  --light-grey: #efebeb;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

h1 {
  color: black;
  justify-self: center;
  margin: 30px 0;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--primary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Header Design*/
.menus {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-family: var(--font-body);
  font-weight: bold;
  background-color: var(--light-grey);

  .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;

    .user-favorites {
      li {
        background-color: var(--secondary-color);
        padding: 5px;
        margin-top: 10px;
        border-radius: 8px;
      }
    }
  }

  ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
    padding: 1rem;
  }

  .open ul {
    display: flex;
    text-align: center;
  }

  .open a {
    display: block;
  }
}

#menu {
  font-size: 1.5rem;
  padding: 5px 10px;
  background: none;
  position: absolute;
  top: 1rem;
  right: 1rem;

  &::before {
    content: "☰";
    color: var(--primary-color);
  }

  &.open::before {
    content: "✖";
  }
}

.logo {
  line-height: 60px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);

  img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 5px;
  }
  a {
    color: black;
  }
}

/* index design */

/* Hero design */

.hero {
  position: relative;
  margin-bottom: 30px;

  .logo {
    position: absolute;
    left: calc(50% - 50px);
    bottom: -25px;
    border-radius: 150px;
  }

  img {
    min-height: 225px;
  }
}

.logo--square {
  background-image: url("/images/noun_Tent_2517.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: var(--small-font);
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 10px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-decoration: none;

  p {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow:
      1px 1px 2px var(--secondary-color),
      0 0 2em white,
      0 0 0.2em white;

    &:hover {
      font-size: 4rem;
      color: rgb(255, 255, 255);
      text-shadow:
        2px 2px 2px var(--primary-color),
        1px 4px 3em rgb(0, 0, 0),
        -1px -1px 0.5em rgb(0, 0, 0);
    }
  }
}

.hero-description {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;

  p {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
}

/* End of Hero design */

.miscellaneous {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  margin: 30px 0 10px 0px;

  a {
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 0 50px;
    text-decoration: none;
    border: 2px solid white;
    &:hover {
      background-color: black;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 205px;
  }
}

.pokedex-section {
  background: linear-gradient(to bottom, var(--primary-color), rgb(7, 7, 7));
  color: white;
  a {
    background-color: var(--primary-color);
  }
}

.tcg-section {
  background: linear-gradient(to bottom, var(--tertiary-color), rgb(7, 7, 7));
  color: white;
  a {
    background-color: var(--tertiary-color);
  }
}

/* Pokemon of the Week design */

#week-favorite-pokemon {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  width: 100%;
  box-shadow: 0px 0px 5px black;

  .week-pokemon {
    display: flex;
    flex-direction: column;

    align-items: center;

    img {
      height: 250px;
      justify-self: right;
    }

    .pokemon-details {
      text-align: center;
    }
    a {
      margin: 0 50px 0;
      font-size: 1.2rem;
      color: black;
      padding: 10px;
      border-radius: 15px;
      margin: auto;
      text-decoration: none;
      border: 2px solid black;
      background-color: var(--secondary-color);
    }
  }
}

/* POKEDEX page design */

.search-container {
  width: 100%;
  padding: 1rem;
  align-items: center;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    max-width: 500px;
    font-size: var(--font-base);
    text-align: center;
    /* border: 5px solid var(--primary-color); */
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
  }

  button {
    border-radius: 20px;
    color: #12229b;
    background-color: white;

    &:hover {
      background-color: var(--light-grey);
    }
  }
}

.type-filter {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid white;
    background-color: black;
    cursor: pointer;

    &:hover {
      background-color: var(--light-grey);
      color: black;
    }
    &.active {
      background: #ffcb05;
      border: 1px solid black;
      color: black;
    }
  }
}

.pokemon-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;

  .pokemon-card {
    flex: 1 1 45%;
    margin: 0.25em;
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--light-grey);
    border: 5px solid var(--light-grey);
    max-width: 250px;
    text-align: center;
  }

  a {
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid white;
    background-color: var(--tertiary-color);
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
  justify-self: center;
  margin: 15px 0;
  * {
    align-self: center;
  }

  button {
    color: white;
    padding: 10px;
  }

  p {
    font-weight: bold;
  }
}

/* End of POKEDEX page design */

/* POKEDEX details page design */

/* Styles for product lists */

.pokemon-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: auto;

  .pokemon-detail-image {
    width: 100%;
    max-width: 350px;
    align-self: center;
    border-bottom: 2px solid var(--primary-color);
  }

  .pokemon-detail-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;

    .stats {
      text-align: center;
      background-color: var(--light-grey);
      padding: 0;
      margin-bottom: 10px;

      h2 {
        color: white;
        background-color: black;
        padding: 10px;
      }
    }
  }
  @media screen and (min-width: 680px) {
    flex-direction: row;

    .pokemon-detail-image {
      border: none;

      img {
        height: 320px;
        /* border-bottom: 2px solid var(--primary-color);
        border-top: 2px solid var(--primary-color); */
      }
    }

    .pokemon-detail-info {
      width: 400px;
      flex-direction: column-reverse;
    }
  }
}

.added {
  color: var(--tertiary-color);
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.TCG-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.TCG-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .hero-description {
    font-size: 1.2em;
  }

  .miscellaneous {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #week-favorite-pokemon {
    width: 450px;
    justify-self: center;
    .week-pokemon {
      display: grid;
      grid-template-columns: 170px 1fr;
      .pokemon-details {
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  #menu {
    display: none;
  }

  .menus {
    background-color: white;

    .navigation {
      flex-direction: row;

      .pages {
        align-content: center;
      }

      .user-favorites {
        li {
          margin-top: 0;
          margin-right: 10px;
          border-radius: 8px;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: row;
    }
  }
}

footer {
  font-size: var(--small-font);
  text-align: center;
  padding: 1em;
  p {
    padding: 0;
  }
}
