:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #12229b;
  --secondary-color: #ffcb05;
  --tertiary-color: #cc1421;
  --light-grey: #efebeb;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

h1 {
  color: black;
  justify-self: center;
  margin: 30px 0;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--primary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Header Design*/
.menus {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-family: var(--font-body);
  font-weight: bold;
  background-color: var(--light-grey);

  .navigation {
    /* display: flex;
    flex-direction: column;*/
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;

    .pages {
      overflow: hidden;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 10px;
        a {
          color: black;
          font-size: 1.3rem;
        }
      }

      .user-favorites {
        background-color: var(--secondary-color);
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
      }
    }

    a {
      text-decoration: none;
      padding: 1rem;
    }

    &.open {
      grid-template-rows: 1fr;
    }

    &.open ul {
      display: block;
      font-size: 1.2rem;
      padding: 0.8rem;
      text-align: center;
      color: var(--primary-color);
      background: var(--accent2-color);
      li {
        width: 100%;
        a {
          width: 100%;
        }
      }
    }
  }
}

#menu {
  font-size: 1.5rem;
  padding: 5px 10px;
  background: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;

  &::before {
    content: "☰";
    color: var(--primary-color);
  }

  &.open::before {
    content: "✖";
  }
}

.logo {
  line-height: 60px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);

  img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 5px;
  }
  a {
    color: black;
  }
}

/* index design */

/* Hero design */

.hero {
  position: relative;
  margin-bottom: 30px;

  .logo {
    position: absolute;
    left: calc(50% - 50px);
    bottom: -25px;
    border-radius: 150px;
  }

  img {
    min-height: 225px;
  }
}

.logo--square {
  background-image: url("/images/noun_Tent_2517.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: var(--small-font);
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 10px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-decoration: none;

  p {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow:
      1px 1px 2px var(--secondary-color),
      0 0 2em white,
      0 0 0.2em white;

    &:hover {
      font-size: 4rem;
      color: rgb(255, 255, 255);
      text-shadow:
        2px 2px 2px var(--primary-color),
        1px 4px 3em rgb(0, 0, 0),
        -1px -1px 0.5em rgb(0, 0, 0);
    }
  }
}

.hero-description {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;

  p {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
}

/* End of Hero design */

.miscellaneous {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 5px black;
  margin: 30px 0 10px 0px;

  a {
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 0 50px;
    text-decoration: none;
    border: 2px solid white;
    &:hover {
      background-color: black;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    height: 205px;
  }
}

.pokedex-section {
  background: linear-gradient(to bottom, var(--primary-color), rgb(7, 7, 7));
  color: white;
  a {
    background-color: var(--primary-color);
  }
}

.tcg-section {
  background: linear-gradient(to bottom, var(--tertiary-color), rgb(7, 7, 7));
  color: white;
  a {
    background-color: var(--tertiary-color);
  }
}

/* Pokemon of the Week design */

#week-favorite-pokemon {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  width: 100%;
  box-shadow: 0px 0px 5px black;

  .week-pokemon {
    display: flex;
    flex-direction: column;

    align-items: center;

    img {
      height: 250px;
      justify-self: right;
    }

    .pokemon-details {
      text-align: center;
    }
    a {
      margin: 0 50px 0;
      font-size: 1.2rem;
      color: black;
      padding: 10px;
      border-radius: 15px;
      margin: auto;
      text-decoration: none;
      border: 2px solid black;
      background-color: var(--secondary-color);
    }
  }
}

/* POKEDEX page design */

.search-container {
  width: 100%;
  padding: 1rem;
  align-items: center;
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;

  input {
    width: 100%;
    max-width: 500px;
    font-size: var(--font-base);
    text-align: center;
    /* border: 5px solid var(--primary-color); */
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
  }

  button {
    border-radius: 20px;
    color: #12229b;
    background-color: white;

    &:hover {
      background-color: var(--light-grey);
    }
  }
}

.type-filter {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid white;
    background-color: black;
    cursor: pointer;

    &:hover {
      background-color: var(--light-grey);
      color: black;
    }
    &.active {
      background: #ffcb05;
      border: 1px solid black;
      color: black;
    }
  }
}

.pokemon-list,
.TCG-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;

  .pokemon-card {
    flex: 1 1 45%;
    margin: 0.25em;
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--light-grey);
    border: 5px solid var(--light-grey);
    max-width: 250px;
    text-align: center;

    a {
      color: white;
      padding: 10px 15px;
      border-radius: 15px;
      text-decoration: none;
      border: 2px solid white;
      background-color: var(--tertiary-color);
      cursor: pointer;

      &:hover {
        background-color: var(--light-grey);
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
  justify-self: center;
  margin: 15px 0;
  * {
    align-self: center;
    text-decoration: none;
  }

  button {
    color: white;
    padding: 10px;
  }

  p {
    font-weight: bold;
  }
}

/* End of POKEDEX page design */

/* POKEDEX details page design */

.pokemon-detail-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: auto;

  .pokemon-detail-image {
    width: 100%;
    max-width: 350px;
    align-self: center;
    border-bottom: 2px solid var(--primary-color);
  }

  .pokemon-detail-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;

    .stats {
      text-align: center;
      background-color: var(--light-grey);
      padding: 0;
      margin-bottom: 10px;

      h2 {
        color: white;
        background-color: black;
        padding: 10px;
      }
    }
  }
  @media screen and (min-width: 680px) {
    flex-direction: row;

    .pokemon-detail-image {
      border: none;

      img {
        height: 320px;
        /* border-bottom: 2px solid var(--primary-color);
        border-top: 2px solid var(--primary-color); */
      }
    }

    .pokemon-detail-info {
      width: 400px;
      flex-direction: column-reverse;
    }
  }
}

.added {
  color: var(--tertiary-color);
}

/* End POKEDEX details page design */

/* Favorites page design */

.favorites-container .favorites-info,
.collection-container .collection-info {
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--light-grey);
  padding: 10px;
}

.favorites-list,
.collection-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;

  .no-fave {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    a {
      color: black;
      padding: 1px 5px;
      border-radius: 0;
      background-color: lightblue;

      &:hover {
        background-color: var(--light-grey);
      }
    }
  }

  .pokemon-card {
    list-style: none;
    flex: 1 1 45%;
    margin: 0.25em;
    padding: 1rem;
    box-shadow: 1px 1px 10px var(--light-grey);
    border: 5px solid var(--light-grey);
    text-align: center;
    max-width: 250px;

    &.grass {
      box-shadow: 1px 1px 10px green;
    }

    &.fire {
      box-shadow: 1px 1px 10px red;
    }

    &.electric {
      box-shadow: 1px 1px 10px yellow;
    }

    &.water {
      box-shadow: 1px 1px 10px rgb(0, 115, 255);
    }

    &.rock {
      box-shadow: 1px 1px 10px rgb(75, 55, 9);
    }
  }

  a {
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px solid white;
    background-color: var(--tertiary-color);
    cursor: pointer;
  }
}

/* Roll card */

.go-round {
  position: relative;
  height: 350px;
  max-width: 250px;
  perspective: 150rem;

  .card-side {
    height: 345px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.back {
      transform: rotateY(-180deg);
      color: white;
      background-color: var(--dark-grey);
      padding-top: 20px;
      text-shadow: 2px 1px 5px black;

      &.grass {
        background: linear-gradient(rgb(20, 179, 20), rgb(27, 90, 27));
      }

      &.fire {
        background: linear-gradient(var(--secondary-color), rgb(142, 8, 8));
      }

      &.electric {
        background: linear-gradient(var(--secondary-color), rgb(149, 149, 66));
      }

      &.water {
        background: linear-gradient(rgb(0, 115, 255), var(--primary-color));
      }

      &.rock {
        background: linear-gradient(rgb(101, 74, 12), rgb(50, 45, 3));
      }

      a {
        position: absolute;

        padding: 0;
        background-color: white;
        left: 1px;
        top: 1px;
        margin: 0;
        width: 60px;
        .favorite {
          border-radius: 35px;
          border: 1px solid var(--light-grey);
        }
        &.collection {
          border-radius: 0;
          width: 40px;
          img {
            border: 1px solid black;
          }
        }

        &:hover {
          border: 3px solid var(--secondary-color);
        }
      }

      .remove-item {
        position: absolute;
        right: 0;
        bottom: 0;
        background: white;
        padding: 10px;
        color: black;
        border-radius: 15px 0 0;

        &:hover {
          border: 3px solid var(--tertiary-color);
        }
      }
    }

    &.front {
      background-color: white;
    }
  }
  &:hover .card-side {
    &.front {
      transform: rotateY(180deg);
    }

    &.back {
      transform: rotateY(0deg);
    }
  }
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: white;
}

.card-back {
  background-color: blue;
  color: white;
  transform: rotateY(180deg);
}

/* End of Favorites page design */

/* TCG Details design */

.cards-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;

  li {
    list-style: none;
    text-align: center;
    margin: 5px 0;
  }

  .general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      max-width: 250px;
    }
    p {
      color: black;
      width: 100%;
      font-weight: bold;
      font-size: 1.3rem;
      background-color: var(--light-grey);
    }
    .variants {
      padding: 15px 0;
    }
  }

  #other-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;

    h2 {
      color: white;
      text-decoration: underline;
      text-decoration-color: var(--primary-color);
      margin-bottom: 10px;
      background-color: var(--primary-color);
      padding: 10px 0;
    }
    * {
      width: 100%;
    }

    .attacks {
      border-bottom: 2px solid var(--primary-color);

      .attack {
        padding: 10px 0;

        &:nth-child(even) {
          background-color: rgb(224, 239, 255);
        }
        .attack-effect {
          font-style: italic;
        }
      }
    }
  }
}

#addToCollections,
#addToFavorites {
  border-radius: 5px;
  margin: 20px auto;

  #collection-added {
    color: green;
    &.hide {
      display: none;
    }
    &.card-list {
      font-size: 1rem;
    }
  }
}

/* End of TCG Details design */

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .hero-description {
    font-size: 1.2em;
  }

  .miscellaneous {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #week-favorite-pokemon {
    width: 450px;
    justify-self: center;
    .week-pokemon {
      display: grid;
      grid-template-columns: 170px 1fr;
      .pokemon-details {
        text-align: left;
      }
    }
  }

  .cards-detail-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;

    .general-info,
    #other-info {
      max-width: 300px;
    }

    .general-info .variants {
      width: 100%;
      border: 1px solid black;
      padding: 10px 0;
    }

    #other-info section {
      margin: 10px;
      box-shadow: 1px 1px 10px var(--primary-color);
    }
  }
}

@media screen and (min-width: 950px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  #menu {
    display: none;
  }

  .menus {
    background-color: white;

    .navigation {
      display: flex;
      flex-direction: row;

      .pages {
        align-content: center;

        li {
          padding: 0;
          align-self: center;
        }

        .user-favorites {
          margin-top: 0;
          margin-right: 10px;
          border-radius: 8px;
        }
      }
      &.open ul {
        display: flex;
        flex-direction: row;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
    }
  }
}

footer {
  font-size: var(--small-font);
  text-align: center;
  padding: 1em;
  p {
    padding: 0;
  }
}
