:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #2D3EC2;
  --secondary-color: #FFCB05;
  --tertiary-color: #CC1421;
  --light-grey: #ffffff;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

/* Header Design*/

header > div:not(:first-child) {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  font-family: var(--font-body);
  font-weight: bold;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

header > div:not(:first-child) a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}

.logo {
  line-height: 60px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.logo a {
  color: black;
}

.user-favorites li {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 8px;
  margin-right: 10px;
}

.user-favorites li:hover {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 8px;
  margin-right: 10px;
}


/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* index design */

/* Hero design */

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 50px);
  bottom: -25px;
  border-radius: 150px;
}

.logo--square {
  background-image: url("/images/noun_Tent_2517.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: var(--small-font);
  width: 100px;
  height: 100px;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 10px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-decoration: none;
}

.logo--square p {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px var(--secondary-color),
    0 0 2em white,
    0 0 0.2em white;
}

.logo--square p:hover {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px var(--primary-color),
    1px 4px 3em rgb(0, 0, 0),
    -1px -1px 0.5em rgb(0, 0, 0);
}

.hero-description {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;
}

.hero-description p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

/* End of Hero design */

.pokemons {
  margin-top: 2rem;
  padding: 1rem;
}

.pokemon-list,
.TCG-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: center;
}

.pokemon-list a,
.TCG-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.pokemon-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.pokemon-card h2,
.pokemon-card h3,
.pokemon-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.pokemon-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.pokemon-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .hero-description {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
