<!-- <header id="main-header" class="divider"> -->
<div class="logo">
  <img src="/images/logo.svg" alt="Pokeball for logo" />

  <a href="/index.html"><img src="/images/logo-letters.webp" alt="" /></a>
</div>
<div class="menus">
  <button type="button" id="menu" aria-label="Menu button"></button>
  <div class="navigation">
    <div class="pages">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pokemon_listing/">Pokedex</a></li>
        <li><a href="/tcg_listing/">TCG</a></li>
        <li><a href="/battle_lobby/">Battle</a></li>

        <li class="user-favorites">
          <a title="Go to favorite Pokemons" href="/favorites/index.html"
            >Favorites</a
          >
        </li>
        <li class="user-favorites">
          <a title="Go to Collection of cards" href="/collections/index.html"
            >Collection</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- </header> -->
